{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Secure Response</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


  <script src="/static/pgpost/js/pgpost_functions.js"></script>

  <script type="text/javascript" src="{% static "js/jsencrypt.js" %}"></script>
  <script type="text/javascript" src="{% static "js/FileSaver.js" %}"></script>
  <script type="text/javascript" src="{% static "js/crypto.js/components/core.js" %}"></script>
  <script type="text/javascript" src="{% static "js/crypto.js/rollups/aes.js" %}"></script>
  <script type="text/javascript" src="{% static "js/crypto.js/components/enc-base64-min.js" %}"></script>
  
  <!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">


  <!-- Using jquery -->
  <script src="/static/pgpost/js/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>

  <!-- CUSTOM STYLES -->
  <link rel="stylesheet" href="/static/pgpost/css/stylesBase.css">


</head>
<body>
  <div class="sidebar">
    <div class="sidebarContainer">
      <h1> Secure </br> Response </h1>
      <h5> Messaging, securely, without any weird apps </h5>
 
      <br><br>
      <small> > Source on <a href="https://github.com/AleksiKnuutila/gyd-securemail" >github </a> </small>

      <br><br>
      <button onclick="moreInfoFunction()"  class="moreInfo">MORE INFO</button>
      <button onclick="joinFunction()" class="moreInfo">JOIN</button>
      <button class="moreInfo disabled">LOG IN</button>

      <br><br><br>

    </div>
  </div>

  {% block body_block %}This is body_block's default content.{% endblock %}
</body>
</html>
