{% extends 'securemsg/base.html' %}

{% block body_block %}

  <link rel="stylesheet" href="/static/pgpost/css/stylesResponse.css">
  <link rel="stylesheet" href="/static/pgpost/css/styles.css">
  <link rel="stylesheet" href="/static/pgpost/css/stylesDecrypt.css">

    <div class="mainPage">
      <div class="mainPageContainer">
        <div class="textContainer">  
         
          <div class="backgroundTitle"> <h3 class="pageTitle"> YOU HAVE MAIL! </h3> </div>
          <h2 class="subtitle">
           This is a reply to your data request.
          </h2>

           <div id="part1" class="part active">
                <p> Select your private key file to decrypt <br> your message. <br><br>For your eyes only. </p>
          			<br>
                <label for="fileuploader" class="custom-file-upload green">
                 <img src="/static/pgpost/padlock.svg" > Select key file 
                </label>
                <input id="fileuploader" style="display:none" type="file" onchange="uploadKeyFile()" />

        	</div>
        
          <p  class="successHeader"> (Your message will appear here.) </p>

          <div id="part2" class="part inactive">
              <div class="success" style="display:none"> 
                  <div id="theMessage" >
                    <!-- <div id="part2Scroll" class="scrollspy" ></div> -->
                     <div id="messageinfodiv" style="text-align:left;">
                        <span id="message" class="tip"> Message: </span>
                        <p id="messageInfo"> </p>
                     </div>
                     <div id="senderinfodiv" style="text-align:left;">
                        <div  id="senderInfo" > <span  class="tip"> From: (no info)</span> </div>
                        <p></p>
                     </div>
                  </div>
                 <img src="/static/pgpost/imgs/attach_file.svg">
                  <button id="fileSave" onclick="saveFile()"> Get Your file </button>
                  <br><span class="tip small" style=""> &uarr; Click to download your file</span> 

              </div>
              <div class="failure">
                  Decryption failed :( 
              </div>
          </div>
        </div>
     </div>
    </div>

<script>

   $(document).ready(function(){
      $('#part2').hide();
      $('.navBtns').hide()

      // show spinner while the slug is loading?
      function get_datareq() {
        var slug = urlParam('slug');
        $.get( "/json_get_datareq?slug=" + slug, function( data ) {
          window.glob_datareq = data;

        });
      }
      get_datareq();


    });

    var decrypt = function decrypt(encryptedKey, encryptedData) {
        var rsaDecrypt = new JSEncrypt();
        var privateKey = window.privkey;
        rsaDecrypt.setPrivateKey(privateKey);
        //data = JSON.parse($('#data_blob').val());
        datareq = JSON.parse(window.glob_datareq);
        data = JSON.parse(datareq['data_blob']);
        var aeskey = JSON.parse(rsaDecrypt.decrypt(data['encryptedKey']));
        var jsondec = CryptoJS.AES.decrypt(data['encryptedMessage'], aeskey['key']).toString(CryptoJS.enc.Utf8);
        var datadict = JSON.parse(jsondec);
        var b64content = datadict['data'];
        window.blob = dataURItoBlob(b64content);
        window.fn = datadict['filename'];
    
        if(datadict['from_address'] !='' ){
            $('#senderInfo').html(' <span class="tip">From:</span> <br>'+ datadict['from_address']);
        }

        $('#messageInfo').html(datadict['message']);

        // PROPER (!) ERROR checking for decrytpion failure should go here
     
        if(datadict['message'] == '' &&  datadict['from_address']=='' && datadict['filename']==''){
          
          // This never gets called at the moment

        }else{
          $('.success').css('display','block');
          $('.successHeader').html('Your message:');
          $('.failure').css('display','none');
          $('#fileSave').html(''+datadict['filename']);
        }

        //var blob = new Blob([content], {type: "text/plain;charset=utf-8"});
    }



  // Animate to next part of the 'form / process'
  function uploadKeyFile(){

    console.log('CALLED: uploadKeyFile')

    // If have time put animated working-on-it gif
    var file = document.getElementById("fileuploader").files[0];
    var reader = new FileReader();
    reader.addEventListener("load", function () {
      window.privkey = reader.result;
      //Change view styles
      $('#part2').show();
      $('#part2').css('display','block')
      $('#part1').addClass('done');

      $('#part1').removeClass('active');
      $('#part2').removeClass('inactive');
      $('#part2').addClass('active');

      //All set to continue:
      decrypt();

    }, false);

    reader.readAsText(file);

  };

  function saveFile(){

    console.log('CALLED: saveFile')

    //Save decrypted file

    saveAs(window.blob, window.fn);

  }

</script>

<script type="text/javascript">

function dataURItoBlob(dataURI) {
  // convert base64 to raw binary data held in a string
  // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
  var byteString = atob(dataURI.split(',')[1]);

  // separate out the mime component
  var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

  // write the bytes of the string to an ArrayBuffer
  var ab = new ArrayBuffer(byteString.length);
  var ia = new Uint8Array(ab);
  for (var i = 0; i < byteString.length; i++) {
      ia[i] = byteString.charCodeAt(i);
  }

  // write the ArrayBuffer to a blob, and you're done
  var blob = new Blob([ab], {type: mimeString});
  return blob;

  // Old code
  // var bb = new BlobBuilder();
  // bb.append(ab);
  // return bb.getBlob(mimeString);
}

    var formfile = '';

//    var dlEncryptedData = function dlEncryptedData() {
//      $.get( "http://localhost:8000/static/pgpost/encryptedtest.json", function( data ) {
//        var rsaDecrypt = new JSEncrypt();
//        var privateKey = $('#privkey').val();
//        rsaDecrypt.setPrivateKey(privateKey);
//        var aeskey = JSON.parse(rsaDecrypt.decrypt(encryptedKey));
//        return JSON.parse(CryptoJS.AES.decrypt(encryptedData, aeskey['key']).toString(CryptoJS.enc.Utf8));
//      });
//     }

    // If they wish to generate new keys.
//    $('#dldecrypt').click(dlEncryptedData);
    //generateKeys();

    // code below from https://medium.com/@tikiatua/symmetric-and-asymmetric-encryption-with-javascript-and-go-240043e56daf

    // define the characters to pick from
    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz*&-%/!?*+=()";
    // create a key for symmetric encryption
    // pass in the desired length of your key
    var genRandomString = function genRandomString(keyLength){
      var randomstring = '';

      for (var i=0; i < keyLength; i++) {
        var rnum = Math.floor(Math.random() * chars.length);
        randomstring += chars.substring(rnum,rnum+1);
      }
      return randomstring;
    };

    var encrypt = function encrypt(data) {

      var publicKey = $('#public_key').val();
      // Create a new encryption key (with a specified length)
      var key = genRandomString(50);
      // convert data to a json string
      //var dataAsString = JSON.stringify(data);
      var dataAsString = data;
      // encrypt the data symmetrically
      // (the cryptojs library will generate its own 256bit key!!)
      var aesEncrypted = CryptoJS.AES.encrypt(dataAsString, key);
      // get the symmetric key and initialization vector from
      // (hex encoded) and concatenate them into one string
      var aesKey = JSON.stringify({
//        key : String(aesEncrypted.key),
        key : String(key),
        iv : String(aesEncrypted.iv)
      });
      // the data is base64 encoded
      var encryptedMessage = aesEncrypted.toString();

      // we create a new JSEncrypt object for rsa encryption
      var rsaEncrypt = new JSEncrypt();

      // we set the public key (which we passed into the function)
      rsaEncrypt.setPublicKey(publicKey);
      // now we encrypt the key & iv with our public key
      var encryptedKey = rsaEncrypt.encrypt(aesKey);
      // and concatenate our payload message
      var payload = {
        encryptedKey: encryptedKey,
        encryptedMessage: encryptedMessage
      };

      return payload;
    };


</script>

{% endblock %}
