{% extends 'securemsg/base.html' %}

{% block body_block %}
{% csrf_token %}

<link rel="stylesheet" href="/static/pgpost/css/styles.css">

  <div class="container">
  	<div class="row header">
      <div style="text-align: center">
		<h3 style="text-align:center" class="col s10 m10 l10 offset-m1 offset-s1 offset-l1">
      <!--
			<img src="/static/pgpost/key2.svg" width="50px"> Secure Email
			<img src="/static/pgpost/key4.svg" width="50px" >
      -->
      Pretty Good Post
      <img src="/static/pgpost/padlock.svg" style="-webkit-filter: invert(1); filter: invert(1);" width="40px" >


		</h3>
        <p display="display: inline-block; padding-right: 50px" class="subtitle col s10 m10 l10 offset-m1 offset-s1 offset-l1">
        Receive your personal data securely, without any weird apps.
        </p>
      </div>
 	</div>

 	<div class="row">
      	<div id="part1" class="active z-depth-5 section valign-wrapper col s10 offset-s1  m8 offset-m2 l8 offset-l2 ">
		  	<div class="valign">
			  <p  id="part1Scroll"  class="feedbackMessage scrollspy"> 1. Let's start by confirming your email adress </p>
			  <span>
			    <input class="balloon " id="email" type="text" placeholder="myname@example.com" /><label for="email">Email</label>
			  </span>
				<br><button class="green" onclick="sendConfirmationEmail()"> get confirmation code</button>
				<a id="linktopart2" href="#part2Scroll"></a>
    	  	</div>
     	</div>

     	<div id="part2" class="section inactive valign-wrapper col s10 offset-s1  m8 offset-m2 l8 offset-l2">
			<div class="valign">
		      	<p id="part2Scroll" class="scrollspy feedbackMessage"> 2. Paste the confirmation code from your email here. </p>
				<span>
				    <input class="balloon" id="confirmation" type="text" placeholder="eg. FFAXGBSE" /><label for="confirmation">Confirmation code</label>
				</span>
				<br><button id="part2go" class="green" onclick='checkConfirmationResponse()'> go</button>
				<a id="linktopart3" href="#part3Scroll"></a>
	      	</div>
	    </div>

      	<div id="part3" class="section inactive valign-wrapper col s10 offset-s1  m8 offset-m2 l6 offset-l3">
			<div class="valign">
        <p id="part3Scroll" class="scrollspy feedbackMessage">Now your computer creates a private key. Keep it safe.
        </p>
				<button id="fileSave" onclick="saveFile()"> Save private key </button>
        <!--<p>Your computer created a private key, and sent the public key to our database.</p>-->
        <div id="saveconfirm" style="display:none;">
          <p>Your public key was sent to our server.</p>
          <p>Others can now send you messages securely at this address: </p>
        <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap;white-space: -o-pre-wrap; word-wrap: break-word;" id="url"></pre>
        </div>
			</div>
      	</div>

	</div>

</div>


	<script>

		 $(document).ready(function(){
		    $('.scrollspy').scrollSpy();
        $('#part2').hide();
        $('#part3').hide();
		  });


		// Animate to next part of the 'form / process'
		function sendConfirmationEmail(){

			console.log('CALLED: sendConfirmationEmail')

			// If have time put animated working-on-it gif


			//Change view styles
			$('#part1').addClass('done');
      $('#part2').show();

			$('#part1').removeClass('active');
			$('#part1').removeClass('z-depth-5');
			$('#part2').removeClass('inactive');
			$('#part2').addClass('z-depth-5');
			$('#part2').addClass('active');

			//Rest of code
      csrf = $('[name="csrfmiddlewaretoken"]').val();
      email = $('#email').val();
      var post_data = {
        'email': email,
        'csrfmiddlewaretoken': csrf
      };
      $.post( "/json_addkeymaster", post_data, function( resp ) {
        rj = JSON.parse(resp);
        console.log("json addkeymaster");
      });


			//All set to continue:
			$('#linktopart2').click();


		};

		function checkConfirmationResponse(){

			console.log('CALLED: checkConfirmationResponse')

			//Rest of code
      // transition is only done after we receive OK for adding the key

      var send_addkey = function send_addkey() {
        csrf = $('[name="csrfmiddlewaretoken"]').val();
        confirmation_token = $('#confirmation_token').val();
        var post_data = {
          'email': window.email,
          'public_key': window.glob_pubkey,
          'csrfmiddlewaretoken': csrf
        };
        $.post( "/json_addkey", post_data, function( resp ) {
          //All set to continue:
          console.log("json addkey");
          //Change view styles
    			$('#part2').addClass('done');
          $('#part3').show();
    			$('#part2').removeClass('z-depth-5');
    			$('#part2').removeClass('active');
    			$('#part3').removeClass('inactive');

    			$('#part3').addClass('z-depth-5');
    			$('#part3').addClass('active');

    			$('#linktopart3').click();

        });
      }

      var generateKeys = function () {
        //var sKeySize = $('#key-size').attr('data-value');
        //var keySize = parseInt(sKeySize);
        var keySize = 1024;
        var crypt = new JSEncrypt({default_key_size: keySize});
        var async = $('#async-ck').is(':checked');
        var dt = new Date();
        var time = -(dt.getTime());
        if (async) {
          $('#time-report').text('.');
          var load = setInterval(function () {
            var text = $('#time-report').text();
            $('#time-report').text(text + '.');
          }, 500);
          crypt.getKey(function () {
            clearInterval(load);
            dt = new Date();
            time += (dt.getTime());
            $('#time-report').text('Generated in ' + time + ' ms');
            $('#privkey').val(crypt.getPrivateKey());
            $('#pubkey').val(crypt.getPublicKey());
          });
          return;
        }
        crypt.getKey();
        dt = new Date();
        time += (dt.getTime());
        $('#time-report').text('Generated in ' + time + ' ms');
        window.glob_privkey = crypt.getPrivateKey();
        window.glob_pubkey = crypt.getPublicKey();
      };


      csrf = $('[name="csrfmiddlewaretoken"]').val();
      confirmation_token = $('#confirmation').val();
      var post_data = {
        'confirmation_token': confirmation_token,
        'csrfmiddlewaretoken': csrf
      };
      $.post( "/json_confirmemail", post_data, function( resp ) {
        rj = JSON.parse(resp);

        if (rj.response == "200") {
          generateKeys();
          // send public key
          send_addkey();
        } else {
          $("#part2").effect( "shake" );
          $('#confirmation').val("");
        }
      });

		}

		function saveFile(){
      var blob = new Blob([window.glob_privkey], {type: "text/plain;charset=utf-8"});
      saveAs(blob, "privatekey.rsa");

      //var url = "https://ultrahack.getyourdata.org/send?email="+$('#email').val();
      var url = "http://localhost:8000/send?email="+$('#email').val();
      $('#url').text(url);
      $('#saveconfirm').attr({'style':'display:block;'});
			//Save file functionality
		}

	</script>

{% endblock %}
