{% extends 'securemsg/base.html' %}

{% block body_block %}
{% csrf_token %}

  <link rel="stylesheet" href="/static/pgpost/css/styles.css">

  <div class="mainPage">
    <div class="mainPageContainer">

      <div class="textContainer">  
       
        <div class="backgroundTitle"> <h3 class="pageTitle"> ABOUT </h3> </div>
        <h2 class="subtitle">
          All you need to receive messages <br>securely is share a link.
        </h2>
 	      
        <div class="paragraph">
          <h5> How it works: </h5>

          <ol>
            <li> First we verify your e-mail. <br> With that, our server will store your public key. <br> We will generate a private key for you to store on your computer.</li>

            <li> After this, all a sender needs is a link from you. <br> With a simple form, they can send messages that are encrypted before leaving their browser.</li>

            <li>When you receive a message, we’ll send you an e-mail. <br>You will need your private key to access the message.</li>
          <ol>
        </div>

        <button >TRY IT OUT / JOIN &darr;</button>

      </div>

      <div class="joinBox">

            <div class="backgroundTitle"> <h3 class="pageTitle"> JOIN </h3> </div>
            <h2 class="subtitle">
              All you need to receive messages <br>securely is share a link.
            </h2>

          	<div id="part1" class="active part">
                <!-- <div class="indicator" style="height:2em;width:5px;background-color:#daeff3"></div> -->
        			  <p  id="part1Scroll">1. First we verify your e-mail. <br> We won't spam you or anything like that!</p>
        			  
                <span>
          			    <input class="balloon " id="email" type="text" placeholder="myname@example.com" />
                    <label for="email">Email</label>
        			  </span>
        				<button onclick="sendConfirmationEmail()"> get confirmation code</button>
        			  <div class="errorbox"> *<b>Ooops </b> Wrong email stuff</div>
            </div>

           	<div id="part2" class="part inactive">
                <!-- <div class="indicator" style="height:2em;width:5px;background-color:#daeff3"></div> -->
      		      	<p id="part2Scroll" class="feedbackMessage">2. Paste the confirmation code from your email here. </p>
      			     	<span>
        				    <input class="balloon" id="confirmation" type="text" placeholder="eg. FFAXGBSE" /><label for="confirmation">Confirmation code</label>
      			     	</span>
        				  <button id="part2go" class="green" onclick='checkConfirmationResponse()'> go</button>
	                <div class="errorbox"> *<b>Ooops </b> Wrong confirmation stuff</div>
      	     	</div>
      	    </div>

            <div id="part3" class="part inactive">
                <p id="part3Scroll" class="scrollspy feedbackMessage">Now your computer creates a private key. Keep it safe!
                </p>
      				 <button id="fileSave" onclick="saveFile()"> Save private key </button>
               <div id="saveconfirm" style="display:none;">
                <p>Your public key was sent to our server. <br>
                Others can now send you messages securely at this address: </p>
                   <pre style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap;white-space: -o-pre-wrap; word-wrap: break-word;background-color:white;padding:0.5em;" id="url"></pre>
               </div>
            	</div>

      	<!-- </div> -->
  
    </div>
</div>


	<script>

		 $(document).ready(function(){
		    $('.scrollspy').scrollSpy();
        $('#part2').hide();
        $('#part3').hide();
		  });


		// Animate to next part of the 'form / process'
		function sendConfirmationEmail(){

			console.log('CALLED: sendConfirmationEmail')

			// If have time put animated working-on-it gif


			//Change view styles
			$('#part1').addClass('done');
      $('#part2').show();

			$('#part1').removeClass('active');
			$('#part1').removeClass('z-depth-5');
			$('#part2').removeClass('inactive');
			$('#part2').addClass('z-depth-5');
			$('#part2').addClass('active');

			//Rest of code
      csrf = $('[name="csrfmiddlewaretoken"]').val();
      email = $('#email').val();
      var post_data = {
        'email': email,
        'csrfmiddlewaretoken': csrf
      };
      $.post( "/json_addkeymaster", post_data, function( resp ) {
        rj = JSON.parse(resp);
        console.log("json addkeymaster");
      });


			//All set to continue:
			$('#linktopart2').click();


		};

		function checkConfirmationResponse(){

			console.log('CALLED: checkConfirmationResponse')

			//Rest of code
      // transition is only done after we receive OK for adding the key

      var send_addkey = function send_addkey() {
        csrf = $('[name="csrfmiddlewaretoken"]').val();
        confirmation_token = $('#confirmation_token').val();
        var post_data = {
          'email': window.email,
          'public_key': window.glob_pubkey,
          'csrfmiddlewaretoken': csrf
        };
        $.post( "/json_addkey", post_data, function( resp ) {
          //All set to continue:
          console.log("json addkey");
          //Change view styles
    			$('#part2').addClass('done');
          $('#part3').show();
    			$('#part2').removeClass('z-depth-5');
    			$('#part2').removeClass('active');
    			$('#part3').removeClass('inactive');

    			$('#part3').addClass('z-depth-5');
    			$('#part3').addClass('active');

    			$('#linktopart3').click();

        });
      }

      var generateKeys = function () {
        //var sKeySize = $('#key-size').attr('data-value');
        //var keySize = parseInt(sKeySize);
        var keySize = 1024;
        var crypt = new JSEncrypt({default_key_size: keySize});
        var async = $('#async-ck').is(':checked');
        var dt = new Date();
        var time = -(dt.getTime());
        if (async) {
          $('#time-report').text('.');
          var load = setInterval(function () {
            var text = $('#time-report').text();
            $('#time-report').text(text + '.');
          }, 500);
          crypt.getKey(function () {
            clearInterval(load);
            dt = new Date();
            time += (dt.getTime());
            $('#time-report').text('Generated in ' + time + ' ms');
            $('#privkey').val(crypt.getPrivateKey());
            $('#pubkey').val(crypt.getPublicKey());
          });
          return;
        }
        crypt.getKey();
        dt = new Date();
        time += (dt.getTime());
        $('#time-report').text('Generated in ' + time + ' ms');
        window.glob_privkey = crypt.getPrivateKey();
        window.glob_pubkey = crypt.getPublicKey();
      };


      csrf = $('[name="csrfmiddlewaretoken"]').val();
      confirmation_token = $('#confirmation').val();
      var post_data = {
        'confirmation_token': confirmation_token,
        'csrfmiddlewaretoken': csrf
      };
      $.post( "/json_confirmemail", post_data, function( resp ) {
        rj = JSON.parse(resp);

        if (rj.response == "200") {
          generateKeys();
          // send public key
          send_addkey();
        } else {
          $("#part2").effect( "shake" );
          $('#confirmation').val("");
        }
      });

		}

		function saveFile(){
      var blob = new Blob([window.glob_privkey], {type: "text/plain;charset=utf-8"});
      saveAs(blob, "privatekey.rsa");

      var url = "https://ultrahack.getyourdata.org/send?email="+$('#email').val();
      $('#url').text(url);
      $('#saveconfirm').attr({'style':'display:block;'});
			//Save file functionality
		}

	</script>

{% endblock %}
