{% extends 'securemsg/base.html' %}

{% block body_block %}

  <link rel="stylesheet" href="/static/pgpost/css/stylesResponse.css">

	<div class="container">

	  	<div class="row header">
		<h3 style="text-align:center" class="col s10 m10 l10 offset-m1 offset-s1 offset-l1">
			<img src="/static/pgpost/key2.svg" width="50px"> Secure mail
			<img src="/static/pgpost/key4.svg" width="50px" >
		</h3>
		<p class="subtitle col s10 m10 l10 offset-m1 offset-s1 offset-l1"> With this service you can reply to individual's requests for their personal data - securly.</p>
	 	</div>

 		<div class="row">
			<div id="part1" class="col formEntries section valign-wrapper s10 m10 l10 offset-m1 offset-s1 offset-l1">
				<div class="valign">
						<p class="explanationText">This is a response to the request of <span id="fromwhom" class="highlightText"> GEORGIA SMITH</span> for her data from <span class="highlightText" id="towhom"> NORDEA GROUP</span>.
						<br>
            <label for="fileselect" style="float: left" class="custom-file-upload green">ATTACH FILES</label><div style="margin-top: 46px; color: black; display: none;" id="encryptConfirmation" class="explanationText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;File attached and encrypted.</div>
   					<input type="file" id="fileselect" class="green" style="display:none" onchange="afterClick()">
            <!--<button id="attachDataButton" onclick="attachFile()"> ATTACH FILES</button>-->
						</p>
						<div class="formTextContainer">
							<input id="contactInfo" type="text"  class="contactInfo" placeholder="contact info">
						    <textarea id="message" class="balloon " id="message" type="text" placeholder="Response" ></textarea>
						</div>
						<button id="sendForm" class="black"> SEND</button>
					</div>
				</div>
			</div>

		</div>

	<div>

{% csrf_token %}

				</div>
			</div>
		</div>

		<!-- <div class="part3">
			<p> Your secret file XXXXXXX has been saved.</p>
			<p> Keep it somewhere where you can remember. You ll need it to open the response..</p>

		</div> -->

	<script>

    // define the characters to pick from
    var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz*&-%/!?*+=()";
    window.glob_filename = '';
    window.glob_fileread = '';
    var genRandomString = function genRandomString(keyLength){
      var randomstring = '';

      for (var i=0; i < keyLength; i++) {
        var rnum = Math.floor(Math.random() * chars.length);
        randomstring += chars.substring(rnum,rnum+1);
      }
      return randomstring;
    };

    // encrypt a javascript object into a payload to be sent
    // to a server or stored on the client
    var encrypt = function encrypt(data) {

      keyobj = JSON.parse(window.glob_pubkey);
      var publicKey = keyobj['public_key'];
      // Create a new encryption key (with a specified length)
      var key = genRandomString(50);
      // convert data to a json string
      //var dataAsString = JSON.stringify(data);
      var dataAsString = data;
      // encrypt the data symmetrically
      // (the cryptojs library will generate its own 256bit key!!)
      var aesEncrypted = CryptoJS.AES.encrypt(dataAsString, key);
      // get the symmetric key and initialization vector from
      // (hex encoded) and concatenate them into one string
      var aesKey = JSON.stringify({
//        key : String(aesEncrypted.key),
        key : String(key),
        iv : String(aesEncrypted.iv)
      });
      // the data is base64 encoded
      var encryptedMessage = aesEncrypted.toString();

      // we create a new JSEncrypt object for rsa encryption
      var rsaEncrypt = new JSEncrypt();

      // we set the public key (which we passed into the function)
      rsaEncrypt.setPublicKey(publicKey);
      // now we encrypt the key & iv with our public key
      var encryptedKey = rsaEncrypt.encrypt(aesKey);
      // and concatenate our payload message
      var payload = {
        encryptedKey: encryptedKey,
        encryptedMessage: encryptedMessage
      };

      return payload;
    };

    function getpublickey() {
      window.email = urlParam('email');
      $.get( "/json_get_publickey?email_address="+window.email, function( data ) {
        window.glob_pubkey = data;
      });
    }
    getpublickey();

    var send = function send() {
      csrf = $('[name="csrfmiddlewaretoken"]').val();
        var message = $('#message').val();
        var from_address = $('#contactInfo').val();
        var dict = {
          'filename': window.glob_filename,
          'data': window.glob_fileread,
          'message':message,
          'from_address':from_address
        };
        var jsonenc = JSON.stringify(encrypt(JSON.stringify(dict)));
      var post_data = {
        'email': window.email,
        'data_blob': jsonenc,
        'csrfmiddlewaretoken': csrf
      };
      $.post( "/json_addencrypted", post_data, function( resp ) {
      });

    $('#part1 .valign').children().css('opacity','0')

    $('#part1 .valign').css({'overflow':'hidden'}).children().animate({'visibility':'hidden', "height":'0'},80,function(){
            $('#part1 .valign').html('<p  class="feedbackMessage"> Message Sent! </p>')
    });

    }

		// Animate to next part of the 'form / process'
// is this happening on this screen??
//		function shownext(){
//
//		    $(".part1 input").animate({left: "-=100%"},350);
//		    $(".part1 button").animate({left: "-=100%"},350);
//
//		    $(".part2 input").animate({left: "-=100%"},350);
//		    $(".part2 button").animate({left: "-=100%"},350);
//		    $(".part2 div").animate({left: "-=100%"},350);
//		};
//
//		function confirmationResponse(){
//
//			// Save file or something here...
//
//			// Show message
//			$('.part3').css('display','block');
//		}

    var readfile = function readfile() {
      var file = document.getElementById("fileselect").files[0];
      window.glob_filename = file.name;
      var reader = new FileReader();

      reader.addEventListener("load", function () {
        window.glob_fileread = reader.result;
        //$('#id_data_blob').val(jsonenc);
        //var blob = new Blob([JSON.stringify(encrypt(reader.result))], {type: "text/plain;charset=utf-8"});
        //saveAs(blob, "special.file");
      }, false);

      reader.readAsDataURL(file);
    }

    var afterClick = function afterClick() {
      readfile();
      $('#encryptConfirmation').attr({'style':'margin-top: 46px; color: black;'})
    }
    //$('#attachDataButton').click(readfile);
    $('#sendForm').click(send);

	</script>

{% endblock %}



	<script>

		// Animate to next part of the 'form / process'
		function attachFile(){
			console.log('attach')

			// Upload File Fucntionality



		};

		function send(){

			console.log('send')
			// Save file or something here...

		}

	</script>


</body>
</html>
