.part {
	padding: 0;
}

.highlightText{
	background-color: rgba(255,255,255,0.3);
	font-weight: 300;
	font-size:15px;
	color: black;
	padding: 3px 3px ;
}

#sendForm{
	margin-top: 2em;

	background-color: #1e2d48;
	color: white;
}

input.contactInfo,textarea {
  width: 100%;
  padding: 10px 15px 10px 15px;
  margin: 0.5em auto;
 
  border: 1px solid black;
  border-radius: 2px;
  outline: 0;
 
  font-weight: 400;
  font-size: 1em;
  color: #888888;
  background: #ffffff;
}

input.contactInfo{
	font-style: italic;
}

textarea{
	min-height: 250px;
	min-height: 28vh;
	margin-top: 0;
}

/* GREATER THAN MOBILE*/
@media screen and (min-width: 900px) {

	div.textContainer{
    	max-width: 70%;
  	}
}

@media screen and (max-width: 900px) {
	.part{
		margin: 2em auto;
		max-width: 100%;
		text-align: left;
	}	

	input.contactInfo, textarea{
		max-width: 90%;
	}

}

