
#theMessage{
  color:  #25acd5;
  text-align: left;
  font-size: 16px;
  /*font-family: monospace;*/
}


#part2.active{
  border:1px solid  #daeff3;
  background-color: transparent;
  max-width: 90%;
  margin: 0 auto;
}

#fileSave{
  color:  #25acd5;
  text-transform: unset;
  border:0px;
  padding:0;
  margin: 0;
}
#fileSave:hover{
  color:  #25acd5;
  background-color: #ffffff;
  text-decoration: underline;
}

.tip{
  display: inline-block;
  vertical-align: top;
  margin: 0.5em 0;
  font-style: italic;
  color: #444;
  font-size: 0.9em;
  font-family:  "Lato",​sans-serif;
}

.tip.small{
  margin-left:40px;
  margin-top:0;
  color:#999999;
  font-size: 10px;
}