
.backgroundTitle{
  background-color: #666666;
  display: inline-block;
}

h3.pageTitle{
  color: #ffffff;
  padding: 0.1em 0.5em;
  margin: 0;
}


h2.subtitle{
  font-weight: 700;
  text-align: left;
  font-size: 1.5rem;
  margin: 2em 0;
}

h5{
  margin-bottom: 1.1em;
  font-size: 1em;
}


ol{
  font-weight: 400;
  font-size: 1em;
  color: #444;
  line-height: 1.3em;
  margin: 0;
  padding-left: 1em;
}


ol li{
  margin-bottom: 1em;
  padding-left: 1em;
}

div.paragraph p{
    font-weight: 400;
    font-size: 1em;
    color: #444;
    line-height: 1.3em;
}

div.paragraph{
  margin: 2em 0;
}

.part{
  padding: 3em 2em 3em 2em;
  color: #444;
  transition: background 0.7s ease-in-out;
  -webkit-transition: background 0.7s ease-in-out;
  margin: 2em 0;
}

.part.active{
	background-color: #daeff3;
}

.part.active .indicator{
  display: none;
}

.part p{
  margin-top: 0;
  margin-bottom: 1.2em;
  font-size: 1.1em;  
}

.part .errorbox{
  color: #db5c70;
  margin-top: 10px;
}

.done,.inactive{
  height: 20px;
  overflow:hidden;
  padding-top: 0px; 
  padding-bottom: 0px; 

  opacity: 0.2;

}

#saveconfirm{
  margin-top: 2em;
}

.inactive{
	  pointer-events: none !important;
}

h3{
	color: #ffffff;
}

.part button, 
.custom-file-upload{
  padding: 10px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 16px;
  background-color: white;
  cursor: pointer;
}

.part button:hover, 
.custom-file-upload:hover{
   background-color: #111;
   color: white;
}

#fileSave,
.custom-file-upload {
  text-transform: uppercase;
  font-size:1em;
}

#fileSave img{
  width: 1em;
  filter: invert(0%);
}

.custom-file-upload img{
    width:1em;
    filter: invert(0%);
}

#fileSave:hover img,
.custom-file-upload:hover img{
  filter: invert(100%);
}

.custom-file-upload{
  border: 2px solid #111111;
  font-weight: 600;
      padding: 8px 10px  8px   8px ;

  font-size: 1em;
}

.joinBox span {
  position: relative;
  display: inline-block;
}

input[type=text].balloon {
  display: inline-block;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  font-size: 1em;
  color: #377D6A;
  background: white;
  border: 0;

  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
  height:auto;
  margin: 0 auto;

  /*border-radius: 3px;*/
  /*background: #efefef;*/
}

input[type=text].balloon#confirmation{
  text-indent: 127px;
}


input[type=text].balloon::-webkit-input-placeholder {
  color: #fff;
  text-indent: 0px;
  font-weight: 300;
}

input[type=text].balloon + label {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  padding: 5px 15px;
  color: #032429;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
  transition: all .3s ease-in-out;
  background: rgba(122, 184, 147, 0);
}

input[type=text].balloon + label:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);
  transition: all .3s ease-in-out;
  opacity: 1;
}

input[type=text].balloon:focus,
input[type=text].balloon:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
}
input[type=text].balloon:focus::-webkit-input-placeholder,
input[type=text].balloon:active::-webkit-input-placeholder {
  color: #aaa;
}
input[type=text].balloon:focus + label,
input[type=text].balloon:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #032429;
  transform: translateY(40px);
}
input[type=text].balloon:focus + label:after,
input[type=text].balloon:active + label:after {
  border-bottom: 4px solid #000;
}



/* GREATER THAN MOBILE*/
@media screen and (min-width: 900px) {

  .mainPage{
      
      /* layout */
      max-width: 70%;
      margin-left: 30%;
     
      padding-top: 5%;
      padding-top: 5vh;
     
      /* ui */
      background-color: #ffffff;
  }

  .mainPageContainer{
     max-width: 90%;
     margin:0 auto;
  }

  .textContainer{
    max-width: 500px;
  }

  input[type=text].balloon {
   width: 400px;
  }

}

@media screen and (max-width: 900px) {

  .mainPage{
     max-width: 90%;
     margin: 1em auto;
  }

  /*
  .textContainer{
    max-width: 90%;
    margin: 0 auto
  }*/

  /*UI CHANGES*/
  h2.subtitle{
    margin: 1em 0;
  }
  
  input[type=text].balloon {
   width: 320px;
  }

  .part{
    padding: 2em  5% ;
    width: 100% ;
    margin-left: -5% ;
    text-align: center;
  }

  .part p{
    text-align: left;
  }

}


@media screen and (max-width: 536px){
    .part button{
    margin-top: 1em;
  }
}