body{
	background-color: #ededed;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.container{
	background-color: #121219;
	width: 90%;
	margin: 0 auto;
	padding: 0 1%;
	overflow-x: hidden;
	height: 98vh;
}

h1{
	color: #ffffff;
	padding: 5% 0 0 0;
	max-width: 90%;
	margin: 0 auto;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-weight: 900;
}
.explanationText{
	/*padding: 0 0 2% 0;*/
	max-width: 90%;
	margin: 0 auto;
}

input.inputtext {
	width: 40%;
	min-width: 320px;
	max-width: 500px;
	margin: 20vh 0 1.5em  5%;
	padding: 1em;
	font-size: 1.2em;
	line-height: 1em;
	color: #4d4d4d;
	border: 2px solid #8acc36;
	position: absolute;
	top:0px;
}


button{
	padding: 1em 2em;
	border: 0;
	color:white;
	font-size: 1em;
	margin: 24vh 0 1.5em  5%;
	opacity: 1;
	border-bottom:0px solid black;
	position: absolute;
	top: 4em;
}

.conts{
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 400px;
}

.partsContainer{
	position: relative;
  	top: 0;
    width: 200%;
	left: 0;
}

.purple{
	background-color: #a271c8;
}

.green{
	background-color: #8acc36;
}

.part2 input,
.part2 div,
.part2 button{
	left: 100%;
}

.part3{
	display: none;
	max-width: 80%;
	margin:0 auto;
}


p{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;
}

.contents{
	padding: 2em ;
	background-color: rgba(255,255,255,0.3);
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	word-wrap: wrap;
}


button:hover{
	border-bottom: 3px solid white;
}
