body{
	background-color: #ededed;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.container{
	background-color: #ededed;
	width: 90%;
	margin: 0 auto;	
	padding: 0 1%;
	overflow-x: hidden;
	/*height: 98vh;*/
}

h1{
	color: #121219;
	padding: 5% 0 0 0;
	max-width: 90%;
	margin: 0 auto;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-weight: 900;
}

.explanationText{
	/*padding: 0 0 2% 0;*/
	max-width: 90%;
	margin: 0 auto;
}

input.inputtext,
textarea {
	width: 40%;
	min-width: 320px;
	max-width: 500px;
	margin: 1em 0 1em  5%;
	padding: 0.6em;
	font-size: 1em;
	line-height: 1em;
	color: #4d4d4d;
	border: 2px solid #8acc36;
}

textarea{
	min-height: 300px;
}

button.send{

}

button{
	padding: 3em 1em; 
	border: 0;
	color:white;
	font-size: 1em;
	margin: 4em 0 1.5em  5%;
	opacity: 1;
	border-bottom:0px solid black;	
}

.highlightText{
	background-color: #a271c8;
	font-weight: 300;
	font-size:15px;
	color: white;
	padding: 3px 5px ;
}


.purple{
	background-color: #a271c8;
}

.green{
	background-color: #8acc36;
}


p{
	color: #121219;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;
}

.contents{
	padding: 2em ;
	background-color: rgba(255,255,255,0.3);
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	word-wrap: wrap;
}


button:hover{
	border-bottom: 3px solid white;
}