{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Pretty Good Post</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="styleshe    et">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- http://materializecss.com/ -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <script type="text/javascript" src="{% static "pgpost/js/jsencrypt.js" %}"></script>
  <script type="text/javascript" src="{% static "pgpost/js/FileSaver.js" %}"></script>
  <script type="text/javascript" src="{% static "pgpost/js/crypto.js/components/core.js" %}"></script>
  <script type="text/javascript" src="{% static "pgpost/js/crypto.js/rollups/aes.js" %}"></script>
  <script type="text/javascript" src="{% static "pgpost/js/crypto.js/components/enc-base64-min.js" %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
<body>
  {% block body_block %}This is body_block's default content.{% endblock %}
</body>
</html>
