{% extends 'securemsg/base.html' %}

{% block body_block %}
{% csrf_token %}

<link rel="stylesheet" href="/static/pgpost/css/styles.css">

  <div class="container">
  	<div class="row header">
		<h3 class="col s10 m10 l10 offset-m1 offset-s1 offset-l1"> GetYourData.org Secure mail  </h3>
		<p class="subtitle col s10 m10 l10 offset-m1 offset-s1 offset-l1">Simple, secure way to receive your personal data from private entities. The last step of GetYourData.org process: replacing e-mail.</p>
 	</div>

 	<div class="row">
      	<div id="part1" class="active z-depth-5 section valign-wrapper col s10 offset-s1  m8 offset-m2 l8 offset-l2 ">
		  	<div class="valign">
			  <p  id="part1Scroll"  class="feedbackMessage scrollspy"> 1. Start by confirming your email adress </p>
			  <span>
			    <input class="balloon " id="email" type="text" placeholder="myname@example.com" /><label for="email">Email</label>
			  </span>
				<br><button class="green" onclick="sendConfirmationEmail()"> get confirmation code</button>
				<a id="linktopart2" href="#part2Scroll"></a>
    	  	</div>
     	</div>

     	<div id="part2" class="section inactive valign-wrapper col s10 offset-s1  m8 offset-m2 l8 offset-l2">
			<div class="valign">
		      	<p id="part2Scroll" class="scrollspy feedbackMessage"> 2. Now paste the confirmation code you recieved in your email. </p>
				<span>
				    <input class="balloon" id="confirmation" type="text" placeholder="eg. FFAXGBSE" /><label for="confirmation">Confirmation code</label>
				</span>
				<br><button class="green" onclick='checkConfirmationResponse()'> go</button>
				<a id="linktopart3" href="#part3Scroll"></a>
	      	</div>
	    </div>

      	<div id="part3" class="section inactive valign-wrapper col s10 offset-s1  m8 offset-m2 l6 offset-l3">
			<div class="valign">
				<p id="part3Scroll" class="scrollspy feedbackMessage"> Your secret file XXXXXXX has been saved.</p>
				<button id="fileSave" onclick="saveFile()"> Get Your file </button>
				<p> Keep it somewhere where you can remember. You ll need it to open the response..</p>
			</div>
      	</div>

	</div>

</div>


	<script>

		 $(document).ready(function(){
		    $('.scrollspy').scrollSpy();
		  });


		// Animate to next part of the 'form / process'
		function sendConfirmationEmail(){

			console.log('CALLED: sendConfirmationEmail')

			// If have time put animated working-on-it gif


			//Change view styles
			$('#part1').addClass('done');

			$('#part1').removeClass('active');
			$('#part1').removeClass('z-depth-5');
			$('#part2').removeClass('inactive');
			$('#part2').addClass('z-depth-5');
			$('#part2').addClass('active');

			//Rest of code
      csrf = $('[name="csrfmiddlewaretoken"]').val();
      email = $('#email').val();
      var post_data = {
        'email': email,
        'csrfmiddlewaretoken': csrf
      };
      $.post( "http://localhost:8000/securemsg/json_addkeymaster", post_data, function( resp ) {
        console.log("json addkeymaster");
      });


			//All set to continue:
			$('#linktopart2').click();


		};

		function checkConfirmationResponse(){

			console.log('CALLED: checkConfirmationResponse')

			//Change view styles
			$('#part2').addClass('done');

			$('#part2').removeClass('z-depth-5');
			$('#part2').removeClass('active');
			$('#part3').removeClass('inactive');

			$('#part3').addClass('z-depth-5');
			$('#part3').addClass('active');

			//Rest of code

      var send_addkey = function send_addkey() {
        csrf = $('[name="csrfmiddlewaretoken"]').val();
        confirmation_token = $('#confirmation_token').val();
        var post_data = {
          'email': window.email,
          'public_key': window.glob_pubkey,
          'csrfmiddlewaretoken': csrf
        };
        $.post( "http://localhost:8000/securemsg/json_addkey", post_data, function( resp ) {
          console.log("json addkey");
        });
      }

      var generateKeys = function () {
        //var sKeySize = $('#key-size').attr('data-value');
        //var keySize = parseInt(sKeySize);
        var keySize = 1024;
        var crypt = new JSEncrypt({default_key_size: keySize});
        var async = $('#async-ck').is(':checked');
        var dt = new Date();
        var time = -(dt.getTime());
        if (async) {
          $('#time-report').text('.');
          var load = setInterval(function () {
            var text = $('#time-report').text();
            $('#time-report').text(text + '.');
          }, 500);
          crypt.getKey(function () {
            clearInterval(load);
            dt = new Date();
            time += (dt.getTime());
            $('#time-report').text('Generated in ' + time + ' ms');
            $('#privkey').val(crypt.getPrivateKey());
            $('#pubkey').val(crypt.getPublicKey());
          });
          return;
        }
        crypt.getKey();
        dt = new Date();
        time += (dt.getTime());
        $('#time-report').text('Generated in ' + time + ' ms');
        window.glob_privkey = crypt.getPrivateKey();
        window.glob_pubkey = crypt.getPublicKey();
      };


      csrf = $('[name="csrfmiddlewaretoken"]').val();
      confirmation_token = $('#confirmation').val();
      var post_data = {
        'confirmation_token': confirmation_token,
        'csrfmiddlewaretoken': csrf
      };
      $.post( "http://localhost:8000/securemsg/json_confirmemail", post_data, function( resp ) {
        generateKeys();
        // send public key
        send_addkey();
      });

			//All set to continue:
			$('#linktopart3').click();

		}

		function saveFile(){
      var blob = new Blob([window.glob_privkey], {type: "text/plain;charset=utf-8"});
      saveAs(blob, "privatekey.rsa");

			//Save file functionality
		}

	</script>

{% endblock %}
